@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: blueviolet;
    color: white;
    height: 60px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 23px;
    padding: 0 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}


nav ul{
    list-style: none;
    
}

.gameContainer{

    
    display: flex;
    justify-content: center;
    margin-top: 60px;

}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.box{
    border: 3px solid black;
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    
}
.box:hover{
    background-color: rgb(207, 236, 207);
}

.gameInfo{
    padding: 0 34px;
    font-family: "Baloo Bhaina 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.imgBox img{
    width: 0;
    transition: ease-in 0.2s;

}


.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0px 20px;
    padding: 8px 20px;
    background-color: rgb(192, 165, 217);
    border-radius: 10px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 15px;
}

.info{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

@media screen and (max-width:800px){
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo H1{
        font-size: 2rem;
    }
    .container{
        display: grid;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3,20vw);
    }
}